@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    font-family: "Roboto Regular", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.main-menu {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: top;
    list-style: none;
}

.bartop{
    border-left: 1px solid black;
    padding-left: 2rem;
}

h1, h3 {
    color: white;
    margin-bottom: 0px;
}

#banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

#banner img {
    width: 60%;
}

#survive {
    text-align: center;
    width: 70%;
    margin: 3rem auto;
}

.savoirplus {
    background-color: brown;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.titre-actualite {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.actualites {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.actualite {
    width: 30%;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: left;
    padding-bottom: 4rem;
}

.actualite img {
    width: 100%;
}

.news-txt {
    padding-left: 1rem;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#newsletter-back {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin-right: 5px;
}

#foot {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#foot .logo-foot {
    max-width: 100px;
}

#foot .logo-foot img {
    width: 50%;
    margin-left: 5rem;
}

#foot .bot-menu  {
    display: flex;
    gap: 16px;
    font-size: 8px;
    margin-right: 5rem;
    align-items: center
}

.bot-menu{
    content: ;
}

#foot .bot-menu a {
    color: white;
}

.bar::before{
    content: "|";
    color: white;
    margin-right: 1rem;
}

@media screen and (max-width: 780px) {
    .main-menu {
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: top;
        list-style: none;
    }
    
    .bartop {
        border-left: 1px solid black;
        padding-left: 5px;
    }
    #accueil {
        border-left: 1px solid black;
        padding-left: 5px;
    }

    #banner {
        background-image: url(../img/banner.jpg);
        background-position: center;
        height: 30vh;
    }
    
    #foot .logo-foot img {
        width: 80%;
        margin-left: 5px;
    }
    
    #foot .bot-menu  {
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
        margin: 0;
        padding-left: 0;
        padding-right: 1rem;
    }
    #foot {
        flex-direction: column;
        text-align: left;
    }
}   

@media screen and (max-width: 400px) {
    .actualites {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .actualite {
        width: 70%;
        background-color: rgb(48, 48, 48);
        color: white;
        text-align: left;
        padding-bottom: 4rem;
    }

}